@import '@/assets/styles/vars.scss';

.root {
	max-width: 380px;
	width: 100%;
	padding: 0 20px;

	.body {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.title {
		text-align: center;
		margin-bottom: 20px;
	}

	.subtitle {
		color: rgb(177, 177, 177);
		text-align: center;

		a {
			color: $blue;
			text-decoration: none;
		}
	}
}
