@import '@/assets/styles/vars.scss';

.root {
	padding: 20px;
	border-bottom: 1px solid $gray;

	.auth {
		display: flex;
		gap: 8px;
	}

	nav {
		display: flex;
		justify-content: space-between;
	}
}
